<script type="text/javascript">
	document.getElementsByTagName('section')[0].classList.add('spacer');
</script>

<%= will_paginate %>
<div id="userlists">
<ul>
<% @users.each do |user| %>
  <li>
  <div id="usericon">
	<%= link_to userlogo, user.username %>
  </div>
  
  <b> User: </b> <%= user.username %> <br />
  <b> Name: </b> <%= user.fullname %> <br />

  <div id="userinbox">
  <% form_tag "#{user.username}", :method => 'post' do %>
	<div class = "actions">
		<%= submit_tag "#{user.username}'s Inbox" %>
	</div>
  <% end %>
  </div>
  
  <b> E-mail: </b> <%= user.username %>@mail2share.com <br />
  <b> Joined: </b> <%= pretty_date user.created_at %> <br />
  <b> Last seen on: </b>
  <% if user.last_login_at %>
	<%= pretty_date user.last_login_at %> <br />	
  <% else %>
	Not lately <br/>
  <% end %>
  <br />
  </li>	
<% end %>
</ul>
</div>
<%= will_paginate %>

