<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<script type="text/javascript">
	document.getElementById('searchtab').style.visibility = 'hidden';
	document.getElementById('container').style.width = '310px';
</script>


<div id='signup'>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.text_field :username, :onfocus => "if(this.value==this.defaultValue){this.value='';}", :value => "Username" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :onfocus => "if(this.value==this.defaultValue){this.value='';}", :value => "Password" %>
  </div>
  <div class="field">
    <%= f.text_field :user_email, :onfocus => "if(this.value==this.defaultValue){this.value='';}", :value => "E-mail" %>
  </div>
  <div class="field">
    <%= f.text_field :fullname, :onfocus => "if(this.value==this.defaultValue){this.value='';}", :value => "Full Name (optional)" %>
  </div>
  <div class="field">
	<%= recaptcha_tags %>
  </div>
  <div class="actions">
    <%= f.submit "Create Account"%>
  </div>
<% end %>
</div>
