<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<script type="text/javascript">
	document.getElementsByTagName('section')[0].classList.add('spacer');
</script>

<div> 
From: <%= @mail.from %> 
</div>
<div> 
To: <%= @mail.to %>
</div>
<div> 
Subject: <%= @mail.subject %>
</div>
<div> 
Date: <%= @mail.date.to_s %>
</div>
<div>
<%= @body %>
</div>

