<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<script type="text/javascript">
	document.getElementsByTagName('section')[0].classList.add('spacer');
	document.getElementsByTagName('body')[0].style.background = '#FFFFFF';
	document.getElementById('searchtab').style.visibility = 'hidden';
</script>

</div>
<br />
<div class = "abouthr">
<hr />
</div>
<div class = "about">
  <div id="abouticon">
	<%= link_to aslam_logo, 'http://aslamtajwala.com' %>
  </div>
  <h1>Aslam Tajwala</h1>
  <div class = "intro">
	(Web Programmer) <br />
	atajwala [at] gmail [dot] com <br />
	<%= link_to 'www.aslamtajwala.com', 'http://aslamtajwala.com' %> <br />
	Mail2share Inbox: <%= link_to "aslam", "/aslam" %>
  </div>
</div>
<br />
<div class = "abouthr">
<hr />
</div>

<!--
<div class = "about">
<div id="abouticon">
<%= link_to userlogo %>
</div>
<h1>Monis Mohammed</h1>
<div class = "intro">
(Web Programmer) <br />
mmonis [at] gmail [dot] com <br />
Mail2share Inbox: <%= link_to "monis", 'www.mail2share.com/monis' %> <br /><br />
</div>
</div>
<br />
<div class = "abouthr">
<hr />
</div>

<div class = "about">
<div id="abouticon">
<%= link_to userlogo %>
</div>
<h1>Rehan Shah</h1>
<div class = "intro">
(Web Programmer) <br />
rshah_bac [at] yahoo [dot] com <br />
Mail2share Inbox: <%= link_to "rehan", 'www.mail2share.com/rehan' %> <br /><br />
</div>
</div>
<br />
<div class = "abouthr">
<hr />
</div>

<div class = "about">
<div id="abouticon">
<%= link_to userlogo %>
</div>
<h1>Shams Ahmed</h1>

<div class = "intro">
(Web Programmer) <br />
shams.ahmed [at] gmail [dot] com <br />
Mail2share Inbox: <%= link_to "shams", 'www.mail2share.com/shams' %> <br /><br />
</div>
</div>
-->