<h1><%= @username %>'s public inbox</h1>
<%= form_tag update_emails_emails_path, :method => :put  do %>
<%= will_paginate %>

<%= 
  if current_user_session  
    submit_tag "Remove Email(s)"  
  end
%>
<table>
  <tr>
    <th/>
    <th>id</th>
    <th>Userid</th>
    <th>Username</th>
    <th>Subject</th>
    <th>Sender email</th>
    <th>Date</th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= check_box_tag "email_ids[]", email.id %></td>
    <td><%= email.id %></td>
    <td><%= email.user_id %></td>
    <td><%= email.username %></td>
    <td><%= link_to "#{email.subject}", { :action => "messages", :controller => "emails", :file_key => "#{email.file_key}" } %> </td>
    <td><%= email.sender_email %></td>
    <td><%= email.created_at %></td>
  </tr>
<% end %>
</table>
<% end %>
<%= will_paginate %>
