<%= stylesheet_link_tag 'mail2share.css', :media => 'screen' %>
<!-- <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css"> -->
<div id="util_links">
<%= link_to "SIGN UP", "users/new" %> | <%= link_to "SIGN IN", root_url %> (<%= link_to "trouble signing in?", "password_resets/new" %>)
</div>
<div id='main'>

<div id="stamps">
  <a href="http://twitter.com/#!/mail2share"><img src="<%= image_path('twitter_stamp.png') %>" class="misc_logo" width="90" 	height="90"> </a>
  <a href="http://www.facebook.com/pages/Mail2share/176569782388585"><img src="<%= image_path('facebook_stamp.png') %>" class="misc_logo" width="95" height="95"> </a>
</div>

<div id="follow">
	<p>Follow us on >></p>
</div>
	
<div id="tagline">
<p>	
	Your Social Inbox!<br />
	Making e-mail social everyday.<br />
	Blog, Share your e-mails on the fly.<br />
	Give it a try ...
</p>
</div>

<div id='login' >
	<!-- Used some online fix between authlogic and rails3 -->
<%= form_for @user_session, :as => :user_session, :url => {:action => "create"} do |f| %>
	<div class="field">
		<label>Username:  </label>
		<%= f.text_field :username %><br>
	</div>
	<div class="field">
		<label>Password:  </label>
		&nbsp;<%= f.password_field :password %><br><br>
	</div>
	<div class="submit">
		<%= f.submit "Sign In" %> <label>Remember me!</label> <%= f.check_box :remember_me %><br>
	</div>
<% end %>
</div>

<!-- 
<p>
	<a href="http://www.mail2share.info"><img src="<%= image_path('blog_logo.gif') %>" class="misc_logo" width="90" height="90"> </a>
-->

	
</div>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "mail2share";
  feedback_widget_options.placement = "top";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
 
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
