<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Users",  %></li>
		<% if current_user_session %>
		  <li><%= link_to "Logout", "user_sessions/destroy" %></li>
		  <li><%= link_to "Profile", "password_resets/new",  %></li>
		<% else %>
		  <li><%= link_to "Login",  %></li>
		<% end %>		
    </ul>
  </nav>

  <div id="banner">
    <%= link_to logo, root_path %>
  </div>
 <div id="searchtab">                 
   <% form_tag email_messages_path, :method => 'get' do %>
		<%= submit_tag "Search", :id => 'button', :name => nil %>
      <%= text_field_tag :search, params[:search] %>
  <% end %>
 </div>
</header>
