<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Users",  %></li>
        <li><%= link_to "Profile",  %></li>
        <li><%= link_to "Settings",  %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</header>
