<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
	<script type="text/javascript">
		setTimeout("hideFlash()", 9000);
		function hideFlash()
		{
			var flashTabs = document.getElementsByClassName('flash');
			if (flashTabs) {
				for (var i=0; i < flashTabs.length; i++) {
					flashTabs[i].style.visibility = 'hidden';
				}
			} 
		}
	</script>
	
    <div id="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      
        <%= yield %>
      </section>
	  <div>
      	<%= render 'layouts/footer' %>
      </div>
	  <!--<%= debug(params) if Rails.env.development? %>-->
    </div>
  </body>
</html>
